.top-bar {
  float: left;
  margin-top: 4px;
}
.top-bar ul {
  background: #24688f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
}
.top-bar li {
  display: inline;
  padding-right: 10px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 12px;
}
.top-bar li .name {
  min-height: 19px;
  min-width: 30px;
}
.top-bar li .name .list-total {
  font-size: 60%;
  vertical-align: super;
  float: none;
  color: #f6f6f6;
}
.list-id {
  display: none;
  color: black;
}
.top-bar .show-list .name {
  color: #f6f6f6;
}
.top-bar .hide-list .name {
  color: silver;
}
